.divcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 16px;
}

.div {
  flex-direction: row;
  justify-content: center;
}

button {
  margin-right: 16px;
}

